*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: #dbdbdb;
}
#logo{
  font-size: 2rem;
  padding-left: 10px;
}
.container{
  align-items: center;
  margin: 5rem 5rem;
  overflow: hidden;
}
.product-container{
  align-items: center;
}

.grid-container {
  margin: 0 7rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item {
  flex: 1 0 12%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 120px;
  max-width: 130px;
  text-align: center;
  margin: 9px;
}

.grid-item img{
  height: 115px;
}
.grid-item img:hover{
  cursor: pointer;
  height: 145px;
  z-index: 100 !important;
}

/* spidey */
#content{
  position: fixed;
  top: 0;
  right: 0;
  width: 9rem;
}
#content img{
  max-width: 8rem;
}
.scrolled{
  transform: translateY(-100%);
  transition: 2s;
}
.not-scrolled{
  transform: translateY(0%);
  transition: 2s;
}


/* utility classes */
.expand{
  display: grid;
  column-gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.hidden{
  display: none;
}

article{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  margin: 2rem;
  max-width: 10rem;
  height: 14rem;
  border-radius: 8px;
  align-items: center;
}
article img{
  height: 10rem;
  max-width: 10rem;
}
article button{
  width: 6rem;
  border-radius: 6px;
  margin-top: 5px;
}
article button a{
  text-decoration: none;
  color: #dbdbdb;
}

.container button{
  background-color: #242424;
  color: #dbdbdb;
  padding: 5px;
}
.container button:hover{
  cursor: pointer;
}

.show{
  margin: 10px 10px 0 0;
  float: right;
  border-radius: 6px;
  border: 0;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.swiper{
  height: 18rem;
}
.product-container{
  display: flex;
  align-items: center;
}
.cat-name{
  height: 19rem;
  min-width: 5rem;
  background-color: #242424;
  border-radius: 20px 0 0 20px;
}
.cat-name h2{
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: auto;
  color: #dbdbdb;
}

/* single product page */
.product{
  margin: 6rem 10rem 0 10rem;
  padding: 2rem;
  border: 2px solid red;
  display: flex;
}
.desc{
  margin-left: 5rem;
  border: 1px solid blue;
}
.product-images{
  display: grid;
  grid-template-areas: 
            "one two"
            "one three";
  column-gap: 2rem;
}
.one{
  height: 22rem;
  grid-area: one;
}
.two{
  height: 10rem;
  grid-area: two;
}
.three{
  height: 10rem;
  grid-area: three;
  margin-top: auto;
}
.desc button{
  color: #dbdbdb;
  background-color: #242424;
  border-radius: 5px;
  padding: 6px;
  border: 0;
}