*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: #dbdbdb;
}
#logo{
  font-size: 2rem;
  padding-left: 10px;
}
.container{
  align-items: center;
  margin: 7rem 5rem;
  overflow: hidden;
}
.product-container{
  align-items: center;
}

.grid-container {
  margin: 3rem 11rem 0 15rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  columns: 7;
  justify-content: center;
}
.grid-item {
  flex: 1 0 12%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100px;
  max-width: 105px;
  text-align: center;
  margin: 5px;
}

.grid-item img{
  height: 90px;
}
.grid-item img:hover{
  cursor: pointer;
  height: 110px;
  z-index: 100;
}
.clicked-div{
  background-color: #242424;
}
/* spidey */
#content{
  position: fixed;
  top: 0;
  right: 1rem;
  width: 9rem;
}
#content img{
  max-width: 8rem;
}
.scrolled{
  transform: translateY(-100%);
  transition: 2s;
}
.not-scrolled{
  transform: translateY(0%);
  transition: 2s;
}


/* utility classes */
.expand{
  display: grid;
  column-gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.hidden{
  display: none;
}

article{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  margin: 2rem;
  max-width: 10rem;
  height: 14rem;
  border-radius: 8px;
  align-items: center;
}
article img{
  height: 10rem;
  max-width: 10rem;
}
article button{
  width: 6rem;
  border-radius: 6px;
  margin-top: 5px;
}
article button a{
  text-decoration: none;
  color: #dbdbdb;
}

.container button{
  background-color: #242424;
  color: #dbdbdb;
  padding: 5px;
}
.container button:hover{
  cursor: pointer;
}

.show{
  margin: 10px 10px 0 0;
  float: right;
  border-radius: 6px;
  border: 0;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.swiper{
  height: 18rem;
}
.product-container{
  display: flex;
  align-items: center;
}
.cat-name{
  height: 19rem;
  min-width: 5rem;
  background-color: #242424;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
}
.cat-name h2{
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: auto;
  color: #dbdbdb;
}
.title{
  margin-top: 4.2rem;
}
/* single product page */
.product{
  margin: 6rem 10rem 0 10rem;
  padding: 2rem;
  border: 2px solid red;
  display: flex;
}
.desc{
  margin-left: 5rem;
  border: 1px solid blue;
}
.product-images{
  display: grid;
  grid-template-areas: 
            "one two"
            "one three";
  column-gap: 2rem;
}
.one{
  height: 22rem;
  grid-area: one;
}
.two{
  height: 10rem;
  grid-area: two;
}
.three{
  height: 10rem;
  grid-area: three;
  margin-top: auto;
}
.desc button{
  color: #dbdbdb;
  background-color: #242424;
  border-radius: 5px;
  padding: 6px;
  border: 0;
}

/* search bar */


input{
  position: absolute;
  right: 5rem;
  color: #242424;
  padding: 4px;
  margin-top: 1rem;
  font-size: 13px;
  background: transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  outline: none;
  border-radius: 35px;
  transition: all 0.5s;
}
input::placeholder{
  color: #545454;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
input:focus::placeholder{
  opacity: 1;
}
input:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2),
              0 6px 20px 0 #737373;
}
input:focus,
input:not(:placeholder-shown) {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2),
              0 6px 20px 0 #737373;
}

.gif{
  border: 2px solid rebeccapurple;
  position: absolute;
  top: 16rem;
  left: 1rem;
  width: 13rem;
  height: 9rem;
}